<div class="jumbotron">
    <div class="page-header">
        <h1 class="text-center">Quiz Editor</h1>
    </div>
</div>

<div class="container">

    <div class="row" *ngIf="wasErrorLoadingQuizzes">
        <div class="col-md-12">
            <h3>Can't load quizzes, please try again later.</h3>
        </div>
    </div>

    <div class="row" *ngIf="!wasErrorLoadingQuizzes">
        <div class="col-md-4">
            <button class="btn btn-outline-primary mb-2" (click)="addNewQuiz()">Add New Quiz</button>
            <div class="list-group mb-2">
                <div class="list-group-item list-group-item-action"
                     [class.active]="q === selectedQuiz"
                     (click)="selectQuiz(q)"
                     *ngFor="let q of quizzes">
                    {{ q.name }}
                    <span class="badge badge-secondary float-right" [class.bg-danger]="q.numberQuestions === 0">{{ q.numberQuestions }}</span>
                </div>
            </div>
        </div>
        
        <div
            class="col-md-8"
            [@detailsFromBottom]="detailsAnimationState"
            (@detailsFromBottom.done)="detailsFromBottomAnimationComplete()"
        >
            <div *ngIf="selectedQuiz">
                <div
                    [@pulseSaveCancelButtons]="numberOfChangedQuizzes > 0 ? 'somethingToSave' : 'nothingToSave'">
                    <button [class.btn-outline-success]="numberOfChangedQuizzes === 0"
                            [class.btn-success]="numberOfChangedQuizzes > 0"
                            (click)="saveQuizzes()"
                            class="btn mb-2"
                    >
                    Save Quizzes ({{ numberOfChangedQuizzes }})
                    </button>
                    <button class="btn btn-link mb-2" (click)="reloadQuizzes()">Cancel</button>
                </div>
                
                <div class="card">
                    <div class="card-header">
                        General
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="selectedQuiz.name" class="form-control">
                        </div>
                    </div>
                </div>
                <br />
                <div class="card">
                    <div class="card-header">
                        Questions
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                                <button class="btn btn-outline-primary" (click)="addNewQuestion(selectedQuiz)">Add New Question</button>
                        </div>
                        <div *ngFor="let question of selectedQuiz.questions">
                            <div class="input-group my-1">
                                <input type="text" [(ngModel)]="question.name" class="form-control" placeholder="Add New Question" aria-label="Add New Question" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-danger float-right" type="button" (click)="deleteQuestion(question)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="!selectedQuiz">
                <button class="btn mb-2 invisible">I'm not here</button>
                <div class="card">
                    <div class="card-body">
                        <h3>No Quiz Selected</h3>
                        <p>Select or add a new quiz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>