body {
    background-color: black;
}

.jumbotron {
    margin-top: 2%;
    background-color: #0a1cd2;
    color: black;
    /* border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 15%; */
}

@keyframes details-from-left {
    0% { transform: translateX(-30px) }
    25% { transform: translateX(-20px) }
    50% { transform: translateX(-10px) }
    75% { transform: translateX(-5px) }
    100% { transform: translateX(0px) }
}

.details-display-animation {
    animation-name: details-from-left;
    animation-delay: 30ms;
    animation-duration: 150ms;
}

    
@keyframes save-cancel-buttons-grow-shrink {
    0% { transform: scale(1.0) }
    50% { transform: scale(1.05) }
    100% { transform: scale(1.0) }
}

.changes-detected-animation {
    animation-name: save-cancel-buttons-grow-shrink;
    animation-delay: 100ms;
    animation-duration: 0.75s;
    transform-origin: top left;
}